---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<div data-searchable={title} class="p-6 border border-pink-400 border-l-8 rounded-lg rich-content text-sm">
	<slot/>
</div>